
@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Work+Sans&display=swap');

body
{
	margin: 0;
	padding: 0;
	font-family: consolas;
}

.header, .header-minimized
{
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 250px;
	background: url("./img/BG.png") no-repeat;
	background-size: 2000px 200px;
	background-position: -200px 0;
	background-color: #0f294c;
	z-index: 2;
	transition: 0.5s;
}

.header-minimized
{
	height: 140px;
	background-size: 600px 60px;
	background-position: 300px 0;
}

.branding
{
	position: fixed;
	margin: 0;
	padding: 0;
	top: 10px;
	left: 20px;
	width: 400px;
	height: 100px;
	transition: 0.5s;
	transform: scale(1);
}

.header-minimized .branding
{
	top: 0;
	left: 80px;
	transform: scale(.75);
}

.branding h1
{
	font-family:  'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 40px;
	line-height: 40px;
	color: #fff;
	text-transform: uppercase;
	transition: 0.5s;
}

.branding h1 span
{
	font-family: 'Oswald', sans-serif;
	font-size: 33px;
	color: #db4a3c;
	transition: 0.5s;
}

.branding p
{
	position: relative;
	top: -5px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	transition: 0.5s;
}

.headerPhoto
{
	position: fixed;
	margin: 0;
	padding: 0;
	width: 180px;
	height: 180px;
	background: #fff;
	top: 120px;
	left: 20px;
	z-index: 3;
	transition: 0.5s;
}

.header-minimized .headerPhoto
{
	width: 100px;
	height: 100px;
	top: 20px;
	left: 20px;
}

.headerPhoto img 
{
	position: fixed;
	margin: 5px;
	padding: 0;
	width: 170px;
	height: 170px;
	top: 120px;
	transition: 0.5s;
}

.header-minimized .headerPhoto img
{
	width: 90px;
	height: 90px;
	top: 20px;
}

.navbar
{
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	background: #101e34;
	top: 170px;
	z-index: 2;
	border-bottom: 5px solid #fff;
	transition: 0.5s;
}

.header-minimized .navbar
{
	top: 60px;
}

.navbar .container
{
	position: fixed;
	margin: 0;
	padding: 0;
	width: 75%;
	height: 60px;
	top: 180px;
	left: 20%;
	transition: 0.5s;
	text-align: right;
}

.header-minimized .navbar .container
{
	top: 70px;
}

.menuBtn
{
	position: fixed;
	margin: 0;
	padding: 0;
	width: 50px;
	height: 50px;
	top: 185px;
	right: 20px;
	background: none;
	line-height: 50px;
	font-size: 40px;
	color: #fff;
	display: none;
	transition: 0.5s;
}

.header-minimized .navbar .menuBtn
{
	top: 75px;
}

.menuBtn:hover
{
	color: #db4a3c;
	font-size: 50px;
}

a 
{
	position: relative;
	background: #fff;
	width: 200px;
	height: 50px;
	text-decoration: none;
}

.btnNavBar
{
	display: inline-block;
	position: relative;
	background: #101e34;
	border: 3px solid #fff;
	color: #fff;
	width: 200px;
	height: 50px;
	margin: 0 auto;
	transition: 0.5s;
	line-height: 50px;
	overflow: hidden;
}

.btnNavBar .icon
{
	position: relative;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 50px;
	top: 0;
	text-align: center;
	font-size: 30px;
	color: #101e34;
	z-index: 1;
	transition: 0.5s;
	background: red;
}

.btnNavBar .icon:before
{
	position: absolute;
	content: '';
	height: 50px;
	width: 50px;
	left: 0;
	top: 0;
	background: #fff;
	z-index: -1;
	transition: 0.5s;
	transform-origin: left;
	transform: scale(1);
}

.btnNavBar h3
{
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 140px;
	top: 0;
	left: 60px;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	z-index: 1;
	transition: 0.5s;
}

.btnNavBar:hover
{
	border-color: #db4a3c;
}

.btnNavBar:hover > .icon::before
{
	transform: scaleX(5);
	background: #db4a3c;
}

.btnNavBar:hover > .label, .btnNavBar:hover > .icon
{
	font-weight: bold;
	color: #fff;
}

.btnNavBar:hover >.icon
{
	font-size: 40px;
}

.navMenu
{
	position: fixed;
	z-index: 3;
	background: #db4a3c;
	width: 100%;
	height: 100%;
	transform: translateX(100%);
	transition: 0.5s;
}

.navMenu-expanded
{
	position: fixed;
	z-index: 3;
	background: #db4a3c;
	width: 100%;
	height: 100%;
	transform: translateX(0);
	transition: 0.5s;
}

.navMenu .container, .navMenu-expanded .container
{
	position: relative;
	width: 100%;
	height: 90%;
	top: 5%;
	display: flex;
	flex: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.btnNavMenu
{
	position: relative;
	width: 90%;
	height: 80px;
	margin: 10px auto;
	background: #fff;
	border: 3px solid #fff;
	border-radius: 40px;
	transition: 0.5s;
	overflow: hidden;
}

.btnNavMenu .icon
{
	position: absolute;
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 40px;
	text-align: center;
	left: 0;
	top: 0;
	z-index: 1;
	transition: 0.5s;
	color: #fff;
}

.btnNavMenu .icon:before
{
	position: absolute;
	content: '';
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #db4a3c;
	left:0;
	top: 0;
	z-index: -1;
	transform: scale(1);
	transition: 0.5s;
}

.btnNavMenu h3
{
	position: absolute;
	font-family: 'Oswald', sans-serif;
	width: 70%;
	left: 90px;
	height: 100%;
	line-height: 80px;
	margin: 0;
	font-size: 30px;
	top: 0;
	color: #db4a3c;
	transition: 0.5s;
	z-index: 1;
	text-transform: uppercase;
}

.btnNavMenu:hover > .icon:before
{
	transform: scale(15);
}

.btnNavMenu:hover
{
	border-color: #fff;

}

.btnNavMenu:hover > .icon
{
	font-size: 40px;
}

.btnNavMenu:hover > h3
{
	font-weight: bold;
	color: #fff;
}

.section
{
	position: relative;
	height: 1200px;
	width: 100%;
	overflow: hidden;
	transition: 0.5s;
}

.section.type01
{
	background: #dcdcdc;
}

.section.type02
{
	background: #fff;
}

#home.section
{
	height: 750px;
}

#aboutMe.section
{
	height: 2100px;
}

#mySkills.section
{
	height: 4350px;
}

#eduXP.section
{
	height: 3400px;
}

#contactMe.section
{
	height: 1500px;
	overflow: hidden;
}

.subSection
{
	position: relative;
	width: 100%;
	height: 800px;
}

#languageInfo.subSection
{
	top: 400px;
	height: 700px;
}

#minorTechSkillSection.subSection
{
	top: 400px;
	height: 900px;
}

#topSoftSkillsInfo.subSection
{
	top: 350px;
}


.mainHeading
{
	position: relative;
	width: 100%;
	height: 200px;
	text-align: center;
	font-family: consolas;
	top: 250px;
}

.mainHeading .icon
{
	position: relative;
	top: 100px;
	font-size: 50px;
	color: #fff;
	line-height: 90px;
	width: 80px;
	height: 80px;
	background: #000;
	margin: 0 auto;
	transform: rotate(45deg);
	z-index: 1;
	opacity: 0;
	transition: 1s;
}

.section.type01 .mainHeading .icon
{
	color: #dcdcdc;
	background: #101e34;
}

.section.type02 .mainHeading .icon
{
	color: #fff;
	background: #db4a3c;
}

.mainHeading[data-scroll = "in"] > .icon
{
	opacity: 1;
}

.mainHeading .icon #icon
{
	transform: rotate(-45deg);
}

.mainHeading:after
{
	position: absolute;
	content: '';
	top: 138px;
	left: 20%;
	width: 60%;
	height: 4px;
	background: #000;
	z-index: 0;
	transition: 0.5s;
	transition-delay: 1s;
	transform: scaleX(0);
}

.section.type01 .mainHeading:after, .section.type01 .subHeading .icon:before, .section.type01 .subHeading .icon:after
{
	background: #101e34;
}

.section.type02 .mainHeading:after, .section.type02 .subHeading .icon:before, .section.type02 .subHeading .icon:after, .section.type02 .subSection
{
	background: #db4a3c;
}

.section.type01 .subHeading.alt .icon:before, .section.type01 .subHeading.alt .icon:after, .section.type02 .subHeading.alt .icon:before, .section.type02 .subHeading.alt .icon:after
{
	background: #fff;
}

.section.type01 .subSection
{
	background: #0f294c;
}

.mainHeading[data-scroll = "in"]:after
{
	transform: scaleX(1);
}

.mainHeading h2
{
	position: relative;
	top: -100px;
	font-size: 50px;
	text-transform: uppercase;
	opacity: 0;
	transition: 1s;
	transition-delay: 0.5s;
}

.mainHeading[data-scroll = "in"] > h2
{
	opacity: 1;
}

.welcomeText
{
	position: relative;
	width: 80%;
	height: 200px;
	top: 275px;
	left: 10%;
	opacity: 0;
	text-align: center;
	transition: 1s;
	transition-delay: 1s;
	font-size: 15px;
}

.section.type01 .welcomeText, .section.type01 .subHeading .icon, .section.type01 .mainHeading h2, .section.type01 .subHeading h2
{
	color: #101e34;
}

.section.type02 .welcomeText, .section.type02 .subHeading .icon, .section.type02 .mainHeading h2, .section.type02 .subHeading h2
{
	color: #db4a3c;
}

.section.type01 .subHeading.alt .icon,.section.type01 .subHeading.alt h2, .section.type02 .subHeading.alt .icon, .section.type02 .subHeading.alt h2
{
	color: #fff;
}

.welcomeText[data-scroll = "in"]
{
	opacity: 1;
}

.subHeading
{
	position: relative;
	width: 100%;
	height: 100px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}

.subHeading .icon
{
	position: relative;
	top: 20px;
	font-size: 40px;
	opacity: 0;
	transition: 1s;
}

.subHeading[data-scroll = "in"] > .icon
{
	opacity: 1;
}

.subHeading .icon:before
{
	position: absolute;
	content: '';
	width: 50%;
	height: 3px;
	background: #000;
	top: 30px;
	right: -25%;
	transform: scaleX(0);
	transition: 1s;
}

.subHeading .icon:after
{
	position: absolute;
	content: '';
	width: 50%;
	height: 3px;
	background: #000;
	top: 30px;
	left: -25%;
	transform: scaleX(0);
	transition: 1s;
}

.subHeading[data-scroll = "in"] > .icon:after, .subHeading[data-scroll = "in"] .icon:before
{
	transform: scaleX(1);
}

.subHeading h2
{
	font-size: 20px;
	text-transform: uppercase;
	position: relative;
	top: 5px;
	opacity: 0;
	transition: 1s;
	transition-delay: 0.5s;
}

.subHeading[data-scroll = "in"] > h2
{
	opacity: 1;
}

#personalInfo.subHeading
{
	top: 350px;
}

#languageHeader.subHeading
{
	top: 50px;
}

#topSkillsInfo.subHeading
{
	top: 300px;
}

#minorTechSkillsHeading.subHeading
{
	top: 50px;
}

#topSoftSkillHeader.subHeading
{
	top: 50px;
}

#minorSoftSkillHeader.subHeading
{
	top: 50px;
}

#aboutMe .container
{
	position: relative;
	top: 400px;
	width: 90%;
	height: 500px;
	left: 5%;
	display: flex;
	flex-direction: row;
	flex: 33%;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

#languageInfo .container, #mySkills .container
{
	top: 100px;
	position: relative;
	width: 90%;
	left: 5%;
	height: 500px;
	display: flex;
	flex-direction: row;
	flex: 50%;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

#mySkills .container
{
	top: 350px;
}

#topSoftSkillsInfo .container
{
	top: 50px;
}


.photoContainer .photoSection
{
	position: relative;
	top: -60px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 4px solid #db4a3c;
	margin: 5px auto;
	transition: 1s;
	transform: scale(0);
	opacity: 0;
	background: url("./img/photo2.jpg") no-repeat;
	background-size: 300px 300px;
	background-position: 0 0;
}

.photoContainer .photoSection[data-scroll = "in"]
{
	opacity: 1;
	transform: scale(1);
	transition-delay: 1s;
}

.textSection, .photoContainer
{
	position: relative;
	width: 400px;
	height: 300px;
}

.textSection.textFull
{
	display:none;
}

.textLine
{
	position: relative;
	width: 100%;
	height: 50px;
	margin: 5px 0;
	border-radius: 20px;
	opacity: 0;
	transition: 1s;
}

.textLine.type01[data-scroll = "in"], .textLine.type02[data-scroll = "in"]
{
	opacity: 1;
	transform: translateX(0);
	transition-delay: .5s;
}

.textLine.type01
{
	background: #db4a3c;
	color: #fff;
	transform: translateX(200px);
}

.textLine.type02
{
	background: #fff;
	color: #db4a3c;
	transform: translateX(-200px);
}

.section.type01 .subSection .textLine.type01
{
	background: #101e34;
	color:  #fff;
}

.section.type01 .subSection .textLine.type02
{
	background: #0f294c;
	color: #fff;
}

.textLine .left, .textLine .right
{
	position: absolute;
	top: -20px;
	left: 0%;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	transition: 0.5s;
}

.textLine .left
{
	left: 5%;
	width: 35%;
	text-align: left;
}

.textLine .right
{
	left: 40%;
	width: 55%;
	text-align: right;
}

.techSkillsContainer .textLine
{
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.skillBarLegend
{
	position: relative;
	width: 300px;
	height: 350px;
	background: #101e34;
	border-radius: 20px;
	transform: translateY(-400px);
	opacity: 0;
	transition: 1s;
	overflow: hidden;
	margin: 0 auto;
}

.skillBarLegend[data-scroll = "in"]
{
	opacity: 1;
	transform: translateY(0);
}

.skillBarLegend h2
{
	position: absolute;
	top: -10px;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	transform: translateX(-100px);
	opacity: 0;
	transition: 0.5s;
}

.skillBarLegend[data-scroll = "in"] > h2, .skillBarLegend[data-scroll = "in"] > .underLine
{
	opacity: 1;
	transform: translateX(0);
	transition-delay: 1s;
}

.skillBarLegend .underLine
{
	position: absolute;
	top: 60px;
	width: 60%;
	height: 2px;
	background: #fff;
	left: 20%;
	transform: translateX(200px);
	opacity: 0;
	transition: 0.5s;
}

.skillInfoContainer
{
	position: relative;
	top: 70px;
	width: 90%;
	left: 5%;
	height: 250px;
}

.skillInfoItem
{
	position: relative;
	width: 100%;
	height: 50px;
	margin: 12.5px 0;
	overflow: hidden;
}

.skillInfoItem h3
{
	position: absolute;
	top: 0;
	font-size: 20px;
	line-height: 20px;
	width: 80%;
	left: 10%;
	height: 20px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	opacity: 0;
	transition: 0.5s;
}

.skillBarLegend[data-scroll = "in"] > .skillInfoContainer .skillInfoItem h3
{
	opacity: 1;
	transition-delay: 1s;
}

.skillInfoBar
{
	position: relative;
	width: 15px;
	left: 5%;
	top: 30px;
	height: 15px;
	background: none;
	border-radius: 15px;
	border: 2px solid #fff;
	overflow: hidden;
	z-index: 1;
	transition: 1s;
}

.skillBarLegend[data-scroll = "in"] > .skillInfoContainer .skillInfoItem .skillInfoBar
{
	width: 90%;
	transition-delay: 1s;
}

.skillInfoBarProgress
{
	position: absolute;
	left: 0;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background: #db4a3c;
	z-index: -1;
	transition: 1s;
}

.skillBarLegend[data-scroll = "in"] > .skillInfoContainer .skillInfoItem .skillInfoBar .skillInfoBarProgress
{
	transition-delay: 1s;	
}

.skillBarLegend[data-scroll = "in"] > .skillInfoContainer .skillInfoItem .skillInfoBar .skillInfoBarProgress.beginner
{
	width: 25%;
}

.skillBarLegend[data-scroll = "in"] > .skillInfoContainer .skillInfoItem .skillInfoBar .skillInfoBarProgress.intermediate
{
	width: 50%;
}

.skillBarLegend[data-scroll = "in"] > .skillInfoContainer .skillInfoItem .skillInfoBar .skillInfoBarProgress.expert
{
	width: 75%;
}

.skillBarLegend[data-scroll = "in"] > .skillInfoContainer .skillInfoItem .skillInfoBar .skillInfoBarProgress.pro
{
	width: 100%;
}

.skillBarContainer
{
	position: relative;
	width: 700px;
	height: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.skillItem
{
	position: relative;
	width: 100%;
	height: 100px;
	border-bottom: 3px solid #fff;
	transform: translateX(300px);
	transition: 1s;
	opacity: 0;
}

.skillItem[data-scroll = "in"]
{
	opacity: 1;
	transform: translateX(0);
}

.skillItem h3
{
	font-family: 'Oswald', sans-serif;
	position: absolute; 
	top: -20px;
	left: 30px;
	font-weight: bold;
	line-height: 30px;
	font-size: 30px;
	opacity: 0;
	transition: 0.5s;
}

.skillItem[data-scroll = "in"] > h3
{
	opacity: 1;
	transition-delay: 1s;
}

.skillBar
{
	position: relative;
	top: 45px;
	width: 20px;
	height: 20px;
	left: 0;
	background: none;
	border-radius: 30px;
	border: 3px solid #fff;
	overflow: hidden;
	transition: 1s;
}

.skillItem[data-scroll = "in"] > .skillBar
{
	width: 90%;
	transition-delay: 1.5s;
}

.skillBarProgress
{
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 30px;
	transition: 1s;
}

.skillItem[data-scroll = "in"] > .skillBar .skillBarProgress.beginner
{
	width: 25%;
	transition-delay: 1.5s;
}

.skillItem[data-scroll = "in"] > .skillBar .skillBarProgress.intermediate
{
	width: 50%;
	transition-delay: 1.5s;
}

.skillItem[data-scroll = "in"] > .skillBar .skillBarProgress.expert
{
	width: 75%;
	transition-delay: 1.5s;
}

.skillItem[data-scroll = "in"] > .skillBar .skillBarProgress.pro
{
	width: 100%;
	transition-delay: 1.5s;
}

.skillItem p 
{
	position: absolute;
	top: 60px;
	right: 10%;
	width: 30%;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
	opacity: 0;
	transition: 0.5s;
}

.skillItem[data-scroll = "in"] > p 
{
	opacity: 1;
	transition-delay: 2s;
}

.section.type02 .subSection .container .skillBarContainer .skillItem h3, .section.type01 .subSection .container .skillBarContainer .skillItem h3, .section.type02 .subSection .container .skillBarContainer .skillItem p, .section.type01 .subSection .container .skillBarContainer .skillItem p
{
	color: #fff;
}

.section.type01 .container .skillBarContainer .skillItem h3, .section.type01 .container .skillBarContainer .skillItem p
{
	color: #101e34;
}

.section.type02 .subSection .container .skillBarContainer .skillItem .skillBar, .section.type01 .subSection .container .skillBarContainer .skillItem .skillBar, .section.type01 .subSection .container .skillBarContainer .skillItem
{
	border-color: #fff;
}

.section.type01 .container .skillBarContainer .skillItem .skillBar, .section.type01 .container .skillBarContainer .skillItem
{
	border-color: #101e34;
}

.section.type02 .subSection .container .skillBarContainer .skillItem .skillBarProgress
{
	background: #fff;
}

.section.type01 .container .skillBarContainer .skillItem .skillBarProgress
{
	background: #db4a3c;
}

.minorTechSkillContainer
{
	top: 100px;
	position: relative;
	width: 100%;
	height: 600px;
	display: flex;
	flex: 100%;
	flex-direction: column;
}

.minorTechSkillBtn
{
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
	transition: 1s;
	background: #101e34;
	border-bottom: 3px solid #fff;
}

.minorTechSkillBtn .btnHeading
{
	width: 100%;
	height: 100px;
	position: absolute;
	transition: .5s;
	color: #fff;
}

.btnHeading .icon
{
	position: relative;
	width: 100px;
	height: 100px;
	left: 25%;
	line-height: 100px;
	font-size: 40px;
	text-align: center;
	transition: 1s;
	margin: 0;
}

.btnHeading h3
{
	position: relative;
	margin: 0;
	width: 500px;
	height: 100px;
	left: 30%;
	top: -100px;
	line-height: 100px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	transition: 1s;
	font-family: 'Oswald', sans-serif;
}

.minorTechSkillBtn .btnContent
{
	position: absolute;
	width: 60%;
	left: 20%;
	top: 150px;
	height: 200px;
	transition: 0.5s;
}

.skillTable
{
	position: relative;
	width: 80%;
	left: 10%;
	height: 100%;
	top: 0;
}

.skillTable .skillRow
{
	position: relative;
	width: 100%;
	height: 25px;
	font-size: 20px;
	line-height: 25px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	border-radius: 25px;
	opacity: 0;
	transition: 1s;
}

.minorSoftSkillItems .skillTable .skillRow
{
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	margin: 5px 0;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
}

.skillRow.type01
{
	background: #db4a3c;
	color: #fff;
	transform: translateX(400px);
}

.minorSoftSkillItems .skillTable .skillRow.type01
{
	background: #101e34;
	color: #dcdcdc;
}

.skillRow.type02
{
	background: #fff;
	color: #db4a3c;
	transform: translateX(-400px);
}

.minorSoftSkillItems .skillTable .skillRow.type02
{
	background: #dcdcdc;
	color: #101e34;
}

.minorTechSkillBtn:hover
{
	height: 400px;
	background: #fff;
}

.minorTechSkillBtn:hover > .btnHeading
{
	height: 150px;
	color: #db4a3c;
}

.minorTechSkillBtn:hover > .btnHeading .icon 
{
	width: 100%;
	left: 0;
	height: 100px;
	font-size: 80px;
}

.minorTechSkillBtn:hover > .btnHeading h3
{
	width: 100%;
	left: 0;
	top: 0;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
}

.minorTechSkillBtn:hover > .btnContent .skillTable .skillRow
{
	transition-delay: 1s;
	transition: 1s;
	transform: translateX(0);
	opacity: 1;
}

.minorSoftSkillItems .skillTable .skillRow[data-scroll = "in"]
{
	transition-delay: 1s;
	transition: 1s;
	transform: translateX(0);
	opacity: 1;
}

.knownTechContainer
{
	position: relative;
	width: 100%;
	height: 800px;
	top: 450px;
}

.knownTechContainer .knownTechItems
{
	position: relative;
	width: 90%;
	left: 5%;
	top: 50px;
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.knownTechBtn
{
	position: relative;
	width: 150px;
	height: 150px;
	margin: 0 20px;
	overflow: hidden;
	border-radius: 50%;
	transform: scale(1);
	transition: .5s;
}

.knownTechBtn:hover
{
	transform: scale(1.25);
}

.knownTechBtn img 
{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 25px;
	top: 25px;
	transition: .5s;
}

.knownTechBtn:hover > img 
{
	width: 50px;
	height: 50px;
	left: 50px;
	top: 15px;
}

.knownTechBtn h3 
{
	position: absolute;
	top: 55px;
	width: 100%;
	height: 30px;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	opacity: 0;
	transition: .25s;
}

.knownTechBtn:hover > h3
{
	opacity: 1;
	transition: 1s;
}

.knownTechBtn h3 span
{
	font-size: 12px;
}

.knownTechBtn h3 span.level
{
	font-family: 'Oswald', sans-serif;
	color: #db4a3c;
	font-size: 18px;
}

.minorSoftSkillContainer
{
	position: relative;
	top: 350px;
	width: 100%;
	height: 600px;
}

.minorSoftSkillItems
{
	position: relative;
	top: 100px;
	width: 100%;
	height: 500px;
}

.timelineContainer
{
	position: relative;
	width: 100%;
	height: 3400px;
	top: 300px;
	overflow: hidden;
}

.timelineContainer .timeLineStart, .timelineContainer .timeLineEnd
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	margin: 0 auto;
	color: #dcdcdc;
	background: #dcdcdc;
	transition: 1s;
}

.timelineContainer[data-scroll = "in"] > .timeLineMainLine
{
	transform: scaleY(1);
	transition-delay: 1s;
}

.timelineContainer[data-scroll = "in"] > .timeLineStart
{
	color: #fff;
	transform: rotate(180deg);
}

.timelineContainer[data-scroll = "in"] > .timeLineEnd
{
	color: #fff;
	transition-delay: 2s;
}

.timeLineMainLine
{
	width: 100%;
	height: 2600px;
	position: relative;
	transform: scaleY(0);
	transition: 1s;
	transform-origin: top;
}

.timeLineMainLine .line
{
	width: 5px;
	height: 100%;
	background: #dcdcdc;
	margin: 0 auto;
}

.timeLineItem
{
	width: 90%;
	left: 5%;
	height: 200px;
	top: 100px;
	position: absolute;
	margin: 20px 0;
}

.timeLineItem[data-scroll = "in"] > .timeStamp
{
	opacity: 1;
	transform: translateX(0);
}

#primarySchool.timeLineItem
{
	top: 100px;
}

#highSchool01.timeLineItem
{
	top: 400px;
}

#highSchool02.timeLineItem
{
	top: 700px;
}

#work01.timeLineItem
{
	top: 1000px;
}

#university.timeLineItem
{
	top: 1300px;
}

#work02.timeLineItem
{
	top: 1600px;
}

#work03.timeLineItem
{
	top: 1900px;
}

#work04.timeLineItem
{
	top: 2200px;
}

.timeLineInfo
{
	width: 40%;
	height: 200px;
	margin: 0;
	display: inline-block;
	position: relative;
	opacity: 0;
	transition: 1s;
}

.timeLineItem[data-scroll = "in"] > .timeLineInfo
{
	transform: translateX(0);
	opacity: 1;
	
}

.timeLineInfo h2 
{
	color: #101e34;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

#primarySchool.timeLineItem .timeLineInfo, #university.timeLineItem .timeLineInfo
{
	margin-top: 37.5px;
}

#highSchool01.timeLineItem h2 
{
	margin-top: 75px;
}

.timeLineInfo h3
{
	color: #db4a3c;
	font-size: 20px;
	margin-top: -20px;
	font-family: 'Oswald', sans-serif;
}

.timeLineInfo p 
{
	color: #101e34;
	font-size: 15px;
	font-weight: bold;
	margin-top: -20px;
}

.timeLineInfo.edu
{
	float: right;
	right: 55%;
	text-align: right;
	transform: translateX(-500px);
}

.timeLineInfo.exp
{
	float: left;
	left: 55%;
	text-align: left;
	transform: translateX(500px);
}

.timeStamp
{
	width: 110px;
	height: 50px;
	background: #101e34;
	line-height: 50px;
	display: inline-block;
	position: relative;
	text-align: center;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	transition: 1s;
	opacity: 0;
}

.timeStamp:before
{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background: #101e34;
	transform: rotate(45deg);
	z-index: -1;
}

.timeStamp.edu
{
	float: left;
	left: 55%;
	top: 75px;
	transform: translateX(500px);
}

.timeStamp.edu:before
{
	left: -10px;
	top: 10px;
}

.timeStamp.exp 
{
	float: right;
	right: 55%;
	top: 75px;
	transform: translateX(-500px);
}

.timeStamp.exp:before
{
	right: -10px;
	top: 10px;
}



.contactMeContainer
{
	position: relative;
	top: 275px;
	width: 100%;
	height: 600px;
	overflow: hidden;
}

.contactMeInfo
{
	position: absolute;
	top: 30px;
	width: 60%;
	left: 20%;
	height: 275px;
	transition: 0.5s;
}

.contactMeInfo[data-scroll = "in"] > .contactInfoItem
{
	transform: translateX(0);
	opacity: 1;
}

.contactMeInfo .contactInfoItem
{
	background: #101e34;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 0;
	border-radius: 25px;
	transform: translateX(200px);
	opacity: 0;
	transition: 1s;
	transition-delay: 1s;
}

.contactInfoItem.alt
{
	background: none;
	transform: translateX(-200px);
}

.contactInfoItem.alt .icon, .contactInfoItem.alt p
{
	color: #101e34;
}

.contactInfoItem .icon, .contactInfoItem p 
{
	color: #fff;
	display: inline-block;
	font-size: 25px;
	width: 20%;
	margin: 0 5%;
	height: 50px;
	font-family: 'Oswald', sans-serif;
	transition: 0.5s;
}

.contactInfoItem .icon
{
	text-align: center;
	font-size: 30px;
}

.contactInfoItem p 
{
	width: 60%;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
}

.socialMediaContainer
{
	background: #101e34;
	width: 100%;
	height: 250px;
	position: relative;
	transition: 0.5s;
}

.socialMediaItems
{
	position: absolute;
	width: 90%;
	left: 5%;
	height: 100px;
	display: flex;
	
}

.socialMediaBtns
{
	position: relative;
	width: 80px;
	height: 80px;
	margin: 20px auto;
	background: #fff;
	color: #101e34;
	text-align: center;
	line-height: 80px;
	font-size: 40px;
	border-radius: 50%;
	transform: scale(1);
	transition: 0.5s;
}

.refSocialMedia .socialMediaBtns
{
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
}

.socialMediaBtns:hover
{
	transform: scale(1.5);
	font-size: 50px;
	color: #fff;
}

.refSocialMedia .socialMediaBtns:hover
{
	font-size: 30px;
}

#linkedInBtn.socialMediaBtns:hover
{
	background: #007bb6;
}

#instagramBtn.socialMediaBtns:hover
{
	background: linear-gradient(#5d00c4,#c30054,#df7f00);
}

#githubBtn.socialMediaBtns:hover
{
	background: #8d9092;
}

#deviantArtBtn.socialMediaBtns:hover
{
	background: #b6d100;
}

#redditBtn.socialMediaBtns:hover
{
	background: #fd4300;
}

.refItems
{
	height: 350px;
	width: 90%;
	position: relative;
	top: 50px;
	left: 5%;
	display: flex;
	flex: 50%;
	align-items: center;
	justify-content: center;
}

.reference[data-scroll = "in"]
{
	opacity: 1;
}

.reference 
{
	width: 50%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	opacity: 0;
	transition: 1s;
}

.reference h2 
{
	width: 80%;
	position: relative;
	left: 10%;
	text-transform: uppercase;
	font-family:  'Work Sans', sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	transform: translateX(200px);
	opacity: 0;
	transition: 1s;
}

.reference[data-scroll = "in"] > h2
{
	transform: translateX(0);
	opacity: 1;
}

.reference h2 span
{
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	line-height: 25px;
	color: #db4a3c;
}

.reference h3
{
	width: 80%;
	position: relative;
	left: 10%;
	top: -20px;
	color: #101e34;
	font-size: 15px;
	opacity: 0;
	transition: 1s;
}

.reference[data-scroll = "in"] > h3, .reference[data-scroll = "in"] > .referenceContacts
{
	opacity: 1;
	transition-delay: 1s;
}

.reference .referenceContacts
{
	width: 80%;
	position: relative;
	left: 10%;
	top: -20px;
	height: 100px;
	color: #101e34;
	opacity: 0;
	transition: 1s;
}


.refContactRow
{
	width: 100%;
	position: relative;
	height: 40px;
	margin: 0;
	line-height: 30px;
}

.refContactRow .icon
{
	display: inline-block;
	width: 20%;
	position: relative;
	left:-10%;
	height: 30px;
	text-align: center;
	font-size: 20px;
}

.refContactRow p 
{
	display: inline-block;
	width: 70%;
	position: relative;
	left: -10%;
	height: 30px;
	text-align: left;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
}

@media only screen and (max-width: 1200px)
{
	.btnNavBar
	{
		width: 150px;
	}
	
	.btnNavBar h3
	{
		width: 90px;
		font-size: 18px;
	}
	
	.textLine .left, .textLine .right
	{
		width: 30%;
		font-size: 15px;
	}
	
	.textLine .right
	{
		left: 35%;
		width: 60%
	}
	
	.skillBarContainer
	{
		width: 600px;
	}
	
	.knownTechContainer
	{
		height: 900px;
	}
	
	.knownTechContainer .knownTechItems
	{
		height: 600px
	}
}

@media only screen and (max-width: 1000px)
{
	.textSection.textHalf
	{
		display: none;
	}
	
	.textSection.textFull
	{
		display: block;
	}
	
	.photoContainer .photoSection
	{
		top: 0;
	}
	
	.skillBarContainer
	{
		width: 500px;
	}
}

@media only screen and (max-width: 900px)
{
	.header
	{
		background-position: -400px 0;
	}
	
	.header-minimized
	{
		background-position: 200px 0;
	}
	.btnNavBar
	{
		width: 120px;
	}
	
	.btnNavBar h3
	{
		width: 60px;
		font-size: 12px;
	}
	
	.skillBarContainer
	{
		width: 400px;
	}
	
	.skillItem p 
	{
		width: 40%;
	}
	
	#mySkills.section
	{
		height: 4450px;
	}
	
	.knownTechContainer .knownTechItems
	{
		height: 700px
	}
	
	.knownTechContainer
	{
		height: 1000px;
	}

	.timeLineInfo h2 
	{
		font-size: 20px;
	}

	.timeLineInfo h3
	{
		font-size: 18px;
	}

	.timeLineInfo p 
	{
		font-size: 12px;
	}
	
	.contactMeInfo
	{
		width: 90%;
		left: 5%;
	}
}

@media only screen and (max-width: 800px)
{
	.header
	{
		background-position: -500px 0;
	}
	.btnNavBar
	{
		width: 50px;
	}
	
	#mySkills.section
	{
		height: 4850px;
	}
	
	.skillBarContainer
	{
		width: 300px;
	}
	
	.skillItem p 
	{
		width: 50%;
	}
	
	.skillBarLegend
	{
		width: 250px;
	}
	
	.btnHeading .icon
	{
		left: 20%;
	}
	
	.btnHeading h3
	{
		left: 25%;
	}
	
	.minorTechSkillBtn .btnContent
	{
		width: 80%;
		left: 10%;
	}
	
	.knownTechContainer .knownTechItems
	{
		height: 1200px
	}
	
	.knownTechContainer
	{
		height: 1400px;
	}
}

@media only screen and (max-width: 700px)
{
	.textLine .left, .textLine .right
	{
		font-size: 12px;
	}
	
	.photoContainer .photoSection
	{
		top: 20px;
		width: 250px;
		height: 250px;
		background-size: 250px 250px;
	}
}

@media only screen and (max-width: 600px)
{
	#aboutMe.section
	{
		height: 2650px;
	}
	
	#mySkills.section
	{
		height: 5700px;
	}

	#topSoftSkillsInfo.subSection
	{
		top: 400px;
		height: 1100px;
	}
	
	#aboutMe .container, #mySkills .container
	{
		top: 450px;
		flex: 100%;
		flex-direction: column;
	}
	
	#mySkills .container
	{
		top: 350px;
		height: 1000px;
	}
	
	#topSoftSkillsInfo .container
	{
		top: 50px;
	}
	
	.textSection.textFull
	{
		display: block;
		top: 50px;
	}
	
	.textSection, .photoContainer
	{
		width: 100%;
	}
	
	.textLine .left, .textLine .right
	{
		font-size: 18px;
		left: 5%;
		width: 35%;
	}

	.textLine .right
	{
		left: 40%;
		width: 55%;
		text-align: right;
	}
	
	#languageInfo.subSection
	{
		top: 650px;
		height: 1000px;
	}
	
	#languageInfo .container
	{
		top: 100px;
		height: 800px;
	}
	
	.skillBarLegend
	{
		width: 100%;
		height: 350px;
	}
	
	.skillBarContainer
	{
		width: 100%;
		height: 350px;
	}
	
	#mySkills .container .skillBarContainer
	{
		height: 500px;
	}
	
	.btnHeading .icon
	{
		left: 10%;
	}
	
	.btnHeading h3
	{
		left: 10%;
		font-size: 20px;
	}
	
	.minorSoftSkillContainer
	{
		top: 400px;
	}
	.minorSoftSkillItems .skillTable .skillRow
	{
		font-size: 20px;
	}
	
	.contactInfoItem .icon, .contactInfoItem p 
	{
		font-size: 18px;
	}
	
	.refItems
	{
		flex-direction: column;
	}
	
	#contactMe.section
	{
		height: 1650px;
	}
}

@media only screen and (max-width: 500px)
{
	.header
	{
		background-position: -600px 0;
	}
	
	.header-minimized
	{
		background-position: 100px 0;
	}
	
	.branding h1
	{
		font-size: 25px;
	}
	
	.branding h1 span
	{
		font-size: 21px;
	}
	
	.btnNavBar
	{
		display: none;
	}
	
	.menuBtn
	{
		display: inline-block;
	}
	
	#home.section
	{
		height: 850px;
	}

	#eduXP.section
	{
		height: 3600px;
	}
	
	.mainHeading:after
	{
		width: 80%;
		left: 10%;
	}
	

	#personalInfo.subHeading
	{
		top: 400px;
	}
	
	#aboutMe .container
	{
		top: 500px;
	}
	
	#languageInfo .container
	{
		top: 50px;
	}

	.timeLineMainLine
	{
		height: 2800px;
	}

	#work03.timeLineItem
	{
		top: 2000px;
	}

	#work04.timeLineItem
	{
		top: 2400px;
	}

	.timeStamp.edu
	{
		left: 60%;
	}

	.timeStamp.exp
	{
		right: 60%;
	}
	
	.reference
	{
		width: 100%;
	}
}

@media only screen and (max-width: 400px)
{
	.header
	{
		background-position: -700px 0;
	}
	
	.header-minimized
	{
		background-position: 0 0;
	}
	
	#home.section
	{
		height: 900px;
	}
	
	#mySkills.section
	{
		height: 6900px;
	}
	
	#personalInfo.subHeading
	{
		top: 500px;
	}

	#eduXP.section
	{
		height: 4000px;
	}
	
	.textLine .left, .textLine .right
	{
		font-size: 15px;
	}
	
	#aboutMe .container
	{
		top: 600px;
	}
	
	#languageInfo.subSection
	{
		top: 800px;
	}
	
	#languageInfo .container
	{
		top: 50px;
	}
	
	.btnHeading .icon
	{
		left: 5%;
	}
	
	.btnHeading h3
	{
		left: -10%;
	}
	
	.minorTechSkillBtn .btnContent
	{
		width: 90%;
		left: 5%;
	}
	
	.knownTechContainer .knownTechItems
	{
		height: 2200px
	}
	
	.knownTechContainer
	{
		height: 2600px;
	}

	.timeLineMainLine
	{
		height: 3200px;
	}
	
	#work03.timeLineItem
	{
		top: 2100px;
	}

	#work04.timeLineItem
	{
		top: 2600px;
	}
	
	.contactInfoItem .icon, .contactInfoItem p 
	{
		font-size: 15px;
	}
}